.profilePicture {
    object-fit: cover;
    object-position: 100% 0%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: auto;
    display: block;
}

.centered-img {
    display: block;
    margin: auto;
}

.site-footer {
    background-color: #f0f0f0;
}

.site-header {
    background-color: #0C3B6C;
    border-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

.site-title {
    color: #f0f0f0 !important;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.site-nav .page-link{
    color: #f5f5f5 !important;
}

.site-nav {
    background-color: #0C3B6C;
}

.page-content {
    margin-top: 56px;
}

.post-title {
    font-weight: 800;
}
.post-link {
    font-weight: 700;
}

.post-excerpt, .post-content {
    font-weight: 300;
}

#menu-icon {
    fill: #f0f0f0;
}