.profilePicture {
    object-fit: cover;
    object-position: 100% 0%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: auto;
    display: block;
}

.centered-img {
    display: block;
    margin: auto;
}

.site-footer {
    background-color: #f0f0f0;
}